*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 36px;
}

.search-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-text {
  font-weight: bold;
  margin-right: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  flex-grow: 1;
}



.location-item {
  margin-bottom: 20px;
}

.location-info {
  margin-bottom: 5px;
}

.location-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.landing
{
  margin-top: -15px;
  background-image: url("./3679335_1950220.jpg");
  background-size: cover;
  background-repeat: repeat;
}